/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.suggestion-container {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.suggestion {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

.arrow {
  height: 20px;
  cursor: pointer;
}
